body{
    background:url(https://img.freepik.com/premium-photo/3d-abstract-flowing-particles-design-background_1048-17093.jpg?semt=ais_hybrid);
    background-size: cover;

}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-weight: bold;
}


.Gomb{
    background-color: rgb(9, 243, 9);
}

body{
    color: white;
}

body{
    text-align: center;
}

.Gomb{
    width: 350px;
}


.Gomb{
    font-size: large;
}

body{
    font-size: large;
}

.ok{
    background-color: black;
    color: ghostwhite;
}

.Bejel{
    background-color: black;
    color: ghostwhite;
}

.jelszo{
    background-color: black;
    color: ghostwhite;
}

